{% extends "layouts/app.twig" %}
{% set title = message %}

{% block content %}
    <div class="grow flex h-full justify-center items-center">
        <div class="w-full text-center space-y-4">
            <p class="text-2xl font-light text-center">
                {{ message | default('An unexpected error occured') }}
            </p>
        </div>
    </div>
{% endblock %}
