.coverage/
.git/
.github/
data/
docs/
tests/
.editorconfig
.env.example
.gitignore
.php-cs-fixer.dist.php
docker-compose.yaml
eslint.config.mjs
LICENSE
phpstan-baseline.neon
phpstan.neon.dist
phpunt.xml
README.md
screenshot.png
