# SITE_TITLE="Yet another amazing blog"
# META_DESCRIPTION="Yet another amazing blog, published with Plume."

# THEME=

# TAGS_LINK=true
# AUTHORS_LINK=false

# PAGINATION=true
# POSTS_PER_PAGE=10

# POSTS_SHOW_TITLE=true
# POSTS_SHOW_METADATA=true
# POSTS_SHOW_IMAGE=true
# POSTS_SHOW_EXCERPT=true
# POSTS_SHOW_READ_MORE=true

# FEATURED_IMAGES=collapsed

# FUZZY_SEARCH=false

# DATE_FORMAT='Y-m-d H:i:s'
# TIMEZONE=
