# ----------------------------------------
# Application dependencies
# ----------------------------------------

/node_modules/
/vendor/

# ----------------------------------------
# Application files and folders
# ----------------------------------------

/.cache/
/cache/
/posts/
/public/files/
/.env

# ----------------------------------------
# Test files and folders
# ----------------------------------------

/tests/_files/cache/
