# ----------------------------------------
# Application dependencies
# ----------------------------------------

/node_modules/
/vendor/

# ----------------------------------------
# Application files and folders
# ----------------------------------------

/.cache/
/posts/
/public/files/*
/.env
