parameters:
  level: max
  paths: [app, config, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - DI\DependencyException
      - InvalidArgumentException
      - Invoker\Exception\InvocationException
      - RuntimeException
      - Twig\Error\Error

includes:
  - vendor/zorac/phpstan-php-di/extension.neon
  # - phpstan-baseline.neon
  # - phpstan-ignores.neon
