@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.woff2") format("woff2");
}

@font-face {
    font-family: "Rokkitt";
    src: url("/fonts/Rokkitt.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro.woff2") format("woff2");
}

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-sans: Montserrat;
    --font-serif: Rokkitt;
    --font-mono: Source Code Pro;
}

[x-cloak] {
    @apply hidden;
}

html {
    @apply bg-stone-100;
}

.prose .note {
    @apply relative rounded-lg border-2 border-stone-200 bg-stone-50 p-4 pl-12;
}

.prose .note::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNjQwIiBmaWxsPSJjdXJyZW50Q29sb3IiPjwhLS0hRm9udCBBd2Vzb21lIFBybyB2Ny4wLjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTE5MiA5NkMxNzQuMyA5NiAxNjAgMTEwLjMgMTYwIDEyOEwxNjAgNTEyQzE2MCA1MjkuNyAxNzQuMyA1NDQgMTkyIDU0NEw0NDggNTQ0QzQ2NS43IDU0NCA0ODAgNTI5LjcgNDgwIDUxMkw0ODAgMTI4QzQ4MCAxMTAuMyA0NjUuNyA5NiA0NDggOTZMMTkyIDk2ek0xMjggMTI4QzEyOCA5Mi43IDE1Ni43IDY0IDE5MiA2NEw0NDggNjRDNDgzLjMgNjQgNTEyIDkyLjcgNTEyIDEyOEw1MTIgNTEyQzUxMiA1NDcuMyA0ODMuMyA1NzYgNDQ4IDU3NkwxOTIgNTc2QzE1Ni43IDU3NiAxMjggNTQ3LjMgMTI4IDUxMkwxMjggMTI4ek0yNDAgMTkyTDQwMCAxOTJDNDA4LjggMTkyIDQxNiAxOTkuMiA0MTYgMjA4QzQxNiAyMTYuOCA0MDguOCAyMjQgNDAwIDIyNEwyNDAgMjI0QzIzMS4yIDIyNCAyMjQgMjE2LjggMjI0IDIwOEMyMjQgMTk5LjIgMjMxLjIgMTkyIDI0MCAxOTJ6TTI0MCAyODhMNDAwIDI4OEM0MDguOCAyODggNDE2IDI5NS4yIDQxNiAzMDRDNDE2IDMxMi44IDQwOC44IDMyMCA0MDAgMzIwTDI0MCAzMjBDMjMxLjIgMzIwIDIyNCAzMTIuOCAyMjQgMzA0QzIyNCAyOTUuMiAyMzEuMiAyODggMjQwIDI4OHpNMjQwIDM4NEwzMzYgMzg0QzM0NC44IDM4NCAzNTIgMzkxLjIgMzUyIDQwMEMzNTIgNDA4LjggMzQ0LjggNDE2IDMzNiA0MTZMMjQwIDQxNkMyMzEuMiA0MTYgMjI0IDQwOC44IDIyNCA0MDBDMjI0IDM5MS4yIDIzMS4yIDM4NCAyNDAgMzg0eiIvPjwvc3ZnPgo=');
    display: inline-block;
    position: absolute;
    left: 1rem;
    @apply size-8 text-stone-400;
}
