@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.woff2") format("woff2");
}

@font-face {
    font-family: "Rokkitt";
    src: url("/fonts/Rokkitt.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro.woff2") format("woff2");
}

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-sans: Montserrat;
    --font-serif: Rokkitt;
    --font-mono: Source Code Pro;
}

[x-cloak] {
    @apply hidden;
}

html, body {
    @apply bg-stone-100 dark:bg-stone-800;
}

@import "./prose.css";

.nav-button {
    @apply flex justify-center items-center rounded cursor-pointer p-1 hover:bg-stone-200 dark:text-stone-200 dark:hover:bg-stone-700;
}

.nav-bullet {
    @apply text-2xl text-stone-400 dark:text-stone-600;
}

.video {
    @apply aspect-video w-full;
}
