@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-sans: Montserrat;
    --font-serif: Rokkitt;
    --font-mono: Source Code Pro;

    --text-2xs: 0.65rem;
}

[x-cloak] {
    @apply hidden;
}

html, body {
    @apply bg-stone-100 dark:bg-stone-800;
}

@import "./fonts.css";
@import "./prose.css";
@import "./extra.css";
