.prose code:before, .prose code:after {
    content: none;
}

.prose hr {
    @apply border-t-4 border-stone-200 w-64 mx-auto my-12 dark:border-stone-600;
}

.prose .alert {
    @apply flex flex-col gap-y-2 border-l-4 border-stone-200 my-6 px-4;
}

.prose .alert-title {
    @apply flex items-center font-medium gap-1;
}

.prose .alert-title svg {
    @apply fill-current;
}

.prose .alert-note {
    @apply border-blue-600;
}

.prose .alert-tip {
    @apply border-green-600;
}

.prose .alert-important {
    @apply border-purple-500;
}

.prose .alert-warning {
    @apply border-yellow-500;
}

.prose .alert-caution {
    @apply border-red-600;
}

.prose .alert-note .alert-title {
    @apply text-blue-600;
}

.prose .alert-tip .alert-title {
    @apply text-green-600;
}

.prose .alert-important .alert-title {
    @apply text-purple-500;
}

.prose .alert-warning .alert-title {
    @apply text-yellow-500;
}

.prose .alert-caution .alert-title {
    @apply text-red-600;
}

.prose .alert p {
    @apply m-0;
}
