.prose code:before, .prose code:after {
    content: none;
}

.prose hr {
    @apply border-t-4 border-stone-200 w-64 mx-auto my-12 dark:border-stone-600;
}

.prose .alert {
    @apply border-l-4 border-stone-200 my-6 pl-4;
}

.prose .alert :first-child {
    @apply mt-0;
}

.prose .alert :last-child {
    @apply mb-0;
}

.prose .alert-title {
    @apply flex items-center font-medium gap-1 mb-4;
}

.prose .alert-title svg {
    @apply fill-current;
}

.prose .alert-note {
    @apply border-blue-700;
}

.prose .alert-note .alert-title {
    @apply text-blue-700;
}

.prose .alert-tip {
    @apply border-green-700;
}

.prose .alert-tip .alert-title {
    @apply text-green-700;
}

.prose .alert-important {
    @apply border-purple-700;
}

.prose .alert-important .alert-title {
    @apply text-purple-700;
}

.prose .alert-warning {
    @apply border-yellow-700;
}

.prose .alert-warning .alert-title {
    @apply text-yellow-700;
}

.prose .alert-caution {
    @apply border-red-700;
}

.prose .alert-caution .alert-title {
    @apply text-red-700;
}
